@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
/*$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);*/
/* Sun */
/* line 2, ../sass/_sun.scss */
#sun {
  position: absolute;
  top: 20%;
  left: 15%;
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
  z-index: 3;
}
@media (max-width: 800px) {
  /* line 2, ../sass/_sun.scss */
  #sun {
    display: none;
  }
}

/* line 17, ../sass/_sun.scss */
#sun *,
#sun *:before,
#sun *:after {
  position: absolute;
}

/* Rings */
/* line 24, ../sass/_sun.scss */
#rings {
  top: 50%;
  left: 50%;
  z-index: 1;
}

/* line 29, ../sass/_sun.scss */
#rings div:before,
#rings div:after {
  content: "";
  z-index: 2;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background: inherit;
}

/* line 39, ../sass/_sun.scss */
#rings div:before {
  transform: rotate(60deg);
}

/* line 42, ../sass/_sun.scss */
#rings div:after {
  transform: rotate(-60deg);
}

/* Rings rotation & animation */
/* line 47, ../sass/_sun.scss */
#rings div:nth-child(even) {
  animation: rotateR 12s infinite linear;
}

/* line 50, ../sass/_sun.scss */
#rings div:nth-child(odd) {
  animation: rotateL 12s infinite linear;
  transform: rotate(15deg);
}

/* Rings each*/
/* line 56, ../sass/_sun.scss */
#rings div:nth-child(1) {
  animation-duration: 45s;
  background: rgba(255, 230, 84, 0.5);
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}

/* line 63, ../sass/_sun.scss */
#rings div:nth-child(2) {
  animation-duration: 49s;
  background: rgba(253, 255, 55, 0.5);
  width: 190px;
  height: 190px;
  margin: -95px 0 0 -95px;
}

/* line 70, ../sass/_sun.scss */
#rings div:nth-child(3) {
  animation-duration: 56s;
  background: rgba(254, 255, 164, 0.5);
  width: 180px;
  height: 180px;
  margin: -90px 0 0 -90px;
}

/* line 77, ../sass/_sun.scss */
#rings div:nth-child(4) {
  animation-duration: 93s;
  background: rgba(255, 247, 61, 0.5);
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
}

/* Face */
/* line 86, ../sass/_sun.scss */
#face {
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  margin: -75px 0 0 -70px;
  z-index: 5;
}

/* line 94, ../sass/_sun.scss */
#face [id^="eye-"] {
  transform: rotate(-45deg);
  border-radius: 0 50% 0 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  top: 30px;
  background: #7f010b;
  background: -moz-radial-gradient(center, circle cover, black 38%, #62c3ff 41%, #62c3ff 63%, #edd552 66%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(38%, black), color-stop(41%, #62c3ff), color-stop(63%, #62c3ff), color-stop(66%, #edd552));
  background: -webkit-radial-gradient(center, circle cover, black 38%, #62c3ff 41%, #62c3ff 63%, #edd552 66%);
  background: -o-radial-gradient(center, circle cover, black 38%, #62c3ff 41%, #62c3ff 63%, #edd552 66%);
  background: -ms-radial-gradient(center, circle cover, black 38%, #62c3ff 41%, #62c3ff 63%, #edd552 66%);
  background: radial-gradient(circle at center, #000000 38%, #62c3ff 41%, #62c3ff 63%, #edd552 66%);
}

/* line 109, ../sass/_sun.scss */
#face #eye-1 {
  left: 50%;
  margin-left: -45px;
}

/* line 113, ../sass/_sun.scss */
#face #eye-2 {
  right: 50%;
  margin-right: -45px;
}

/* line 117, ../sass/_sun.scss */
#face #nose {
  width: 6px;
  height: 58px;
  border-radius: 3px 3px 2px 2px;
  top: 48px;
  left: 50%;
  margin-left: -3px;
  background: #7f010b;
}

/* line 126, ../sass/_sun.scss */
#face #mouth {
  width: 80px;
  height: 40px;
  border-radius: 0 0 40px 40px;
  top: 90px;
  left: 50%;
  margin-left: -40px;
  border: 2px solid #7f010b;
  border-top: 0;
}

/* line 136, ../sass/_sun.scss */
#face #mouth:before,
#face #mouth:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #ffe029;
  border-radius: 50%;
  top: -12px;
}

/* line 145, ../sass/_sun.scss */
#face #mouth:before {
  left: -12px;
}

/* line 148, ../sass/_sun.scss */
#face #mouth:after {
  right: -12px;
}

/* Animations */
@-webkit-keyframes rotateR {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotateR {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotateR {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes rotateR {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotateR {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateL {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rotateL {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0deg);
  }
}
@-ms-keyframes rotateL {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
  }
}
@-o-keyframes rotateL {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0deg);
  }
}
@keyframes rotateL {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* Layout */
/* line 198, ../sass/_sun.scss */
body {
  background: #fffce1;
}

/* line 201, ../sass/_sun.scss */
body, html {
  height: 100%;
}

@media (max-width: 800px) {
  /* line 207, ../sass/_sun.scss */
  #rings > div {
    width: 100px !important;
    height: 100px !important;
  }
}

/* line 1, ../sass/_cat.scss */
#cat {
  width: 120px;
  height: 120px;
  background-image: url("../cat.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 45%;
}
@media (max-width: 800px) {
  /* line 1, ../sass/_cat.scss */
  #cat {
    display: none;
  }
}

/*Title effect*/
/* line 2, ../sass/_title.scss */
html {
  height: 100%;
}

/* line 6, ../sass/_title.scss */
body {
  font-family: 'Fjalla One', sans-serif;
  /*background: $background;*/
}

/* line 11, ../sass/_title.scss */
.container {
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 225px;
}

/* line 20, ../sass/_title.scss */
.button {
  float: left;
  position: relative;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  color: #6C9BD9;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
/* line 32, ../sass/_title.scss */
.button span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
}

/* line 41, ../sass/_title.scss */
h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  line-height: 47px;
  letter-spacing: 2px;
}

/* line 50, ../sass/_title.scss */
.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}
/* line 57, ../sass/_title.scss */
.title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

/* line 69, ../sass/_title.scss */
.title:nth-child(1) {
  color: #4b93ff;
}
/* line 72, ../sass/_title.scss */
.title:nth-child(2) {
  color: #0056ff;
}
/* line 75, ../sass/_title.scss */
.title:nth-child(3) {
  color: #044D8C;
}

/* line 1, ../sass/_house.scss */
body {
  background: #e3f1ff;
}

/* line 5, ../sass/_house.scss */
.container-house {
  position: absolute;
  /*margin: 3em auto;*/
  bottom: -280px;
  right: 0;
}

/* line 12, ../sass/_house.scss */
.container-house svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Clouds background */
/* line 2, ../sass/_clouds.scss */
body {
  background: #00b4ff;
  color: #333;
  font: 100% Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  /* line 12, ../sass/_clouds.scss */
  .buttons {
    flex-direction: column;
  }
}

/* line 18, ../sass/_clouds.scss */
#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */
@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}
@-moz-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}
/* ANIMATIONS */
/* line 58, ../sass/_clouds.scss */
.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

/* line 68, ../sass/_clouds.scss */
.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* line 78, ../sass/_clouds.scss */
.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

/* line 88, ../sass/_clouds.scss */
.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

/* line 98, ../sass/_clouds.scss */
.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */
/* line 110, ../sass/_clouds.scss */
.cloud {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  height: 120px;
  position: relative;
  width: 350px;
}
@media (max-width: 800px) {
  /* line 110, ../sass/_clouds.scss */
  .cloud {
    width: 280px;
  }
}
@media (max-width: 800px) {
  /* line 136, ../sass/_clouds.scss */
  .cloud:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

/* line 142, ../sass/_clouds.scss */
div[class^="x"] {
  z-index: 1;
}

/* line 145, ../sass/_clouds.scss */
.cloud:after, .cloud:before {
  /*background: #fff;*/
  content: '';
  position: absolute;
  z-indeX: -1;
}

/* Cloud colors */
/* line 158, ../sass/_clouds.scss */
.cloud.color-0:after, .cloud.color-0, .cloud.color-0:before {
  background: #85E7F2 !important;
}

/* line 161, ../sass/_clouds.scss */
.cloud.color-1:after, .cloud.color-1, .cloud.color-1:before {
  background: #4b93ff !important;
}

/* line 164, ../sass/_clouds.scss */
.cloud.color-2:after, .cloud.color-2, .cloud.color-2:before {
  background: #0056ff !important;
}

/* line 167, ../sass/_clouds.scss */
.cloud.color-3:after, .cloud.color-3, .cloud.color-3:before {
  background: #044D8C !important;
}

/* line 170, ../sass/_clouds.scss */
.cloud.color-4:after, .cloud.color-4, .cloud.color-4:before {
  background: #6C9BD9 !important;
}

/* line 173, ../sass/_clouds.scss */
.cloud.color-5:after, .cloud.color-5, .cloud.color-5:before {
  background: #0E2759 !important;
}

/* line 176, ../sass/_clouds.scss */
.cloud.color-6:after, .cloud.color-6, .cloud.color-6:before {
  background: #E3DBD8 !important;
}

/* line 179, ../sass/_clouds.scss */
.cloud.color-7:after, .cloud.color-7, .cloud.color-7:before {
  background: #C4DAFF !important;
}

/* line 193, ../sass/_clouds.scss */
.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

/* line 204, ../sass/_clouds.scss */
.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}

/* line 1, ../sass/_global.scss */
body {
  overflow-y: hidden;
}
/* line 3, ../sass/_global.scss */
body .buttons {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 9, ../sass/_global.scss */
body .buttons .cloud {
  display: inline-block;
  position: relative;
  text-align: center;
}
/* line 13, ../sass/_global.scss */
body .buttons .cloud a {
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  z-index: 1;
}
