@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/*$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);*/
$white: #FFFFFF;
$blue0: #85E7F2 ;
$blue1: #4b93ff;
$blue2: #0056ff;
$blue3: #044D8C;
$blue4: #6C9BD9;
$blue5: #0E2759;
$blue6: #E3DBD8;
$blue7: #C4DAFF;
$blue8: #AFA9F2;
$shadow: #533d4a;



$break800: 800px;
