@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/*$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);*/
$white: #FFFFFF;
$blue1: #66ebff ;
$blue2: #4b93ff;
$blue3: #0056ff;
$blue4: #300280;
$shadow: #533d4a;