@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);*/
$white: #FFFFFF;
$grey1: #b2b2b2;
$blue1: #66ebff ;
$blue2: #4b93ff;
$blue3: #0056ff;
$blue4: #300280;
$shadow: #533d4a;

$anim_default: all 0.5s ease-in-out;