@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/*$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);*/
/* line 1, ../sass/_home.scss */
html, body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/_home.scss */
section#section-one {
  position: relative;
  height: 100vh;
}
/* line 12, ../sass/_home.scss */
section#section-one .calque {
  height: 100vh;
  width: 100%;
  z-index: 99;
  position: absolute;
}
/* line 19, ../sass/_home.scss */
section#section-one .slider .slide {
  height: 100vh;
  width: 100%;
  background-size: cover;
}
/* line 24, ../sass/_home.scss */
section#section-one .slider:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 40%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 37, ../sass/_home.scss */
section#section-two {
  position: relative;
  height: 100vh;
  /*background: url(../img/rrelight.jpg) no-repeat center, black;*/
  background: url("https://img-s1.onedio.com/id-572c7df76ebb114e16d54a74/rev-0/w-635/f-jpg-gif-webp-webm-mp4/s-495abf5b9b34c6e6e87cd64baa9f724bc7850ef5.gif") no-repeat center, black;
  /*background: url("https://img-s1.onedio.com/id-572c7df76ebb114e16d54a74/rev-0/w-635/f-jpg-gif-webp-webm-mp4/s-495abf5b9b34c6e6e87cd64baa9f724bc7850ef5.gif") no-repeat center, linear-gradient(180deg, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 50%);*/
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 47, ../sass/_home.scss */
section#section-two .rrlogo {
  max-width: 100%;
}
/* line 50, ../sass/_home.scss */
section#section-two .blink {
  -webkit-animation-name: blink;
  -moz-animation-name: blink;
  -o-animation-name: blink;
  animation-name: blink;
  -webktit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
/* line 65, ../sass/_home.scss */
section#section-two .blink-infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 72, ../sass/_home.scss */
section#section-two .blink-5 {
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  -o-animation-iteration-count: 5;
  animation-iteration-count: 5;
}
/* line 79, ../sass/_home.scss */
section#section-two .blink-furiously {
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  50% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
/* line 106, ../sass/_home.scss */
section#section-two .glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 440px;
  top: 150px;
  opacity: 0.7;
  margin: 0 auto;
}
@keyframes noise-anim {
  0% {
    clip: rect(93px, 9999px, 47px, 0);
  }
  5% {
    clip: rect(14px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(5px, 9999px, 83px, 0);
  }
  15% {
    clip: rect(14px, 9999px, 23px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 19px, 0);
  }
  25% {
    clip: rect(28px, 9999px, 74px, 0);
  }
  30% {
    clip: rect(81px, 9999px, 5px, 0);
  }
  35% {
    clip: rect(46px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 25px, 0);
  }
  45% {
    clip: rect(2px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(1px, 9999px, 81px, 0);
  }
  55% {
    clip: rect(51px, 9999px, 3px, 0);
  }
  60% {
    clip: rect(23px, 9999px, 25px, 0);
  }
  65% {
    clip: rect(99px, 9999px, 33px, 0);
  }
  70% {
    clip: rect(79px, 9999px, 84px, 0);
  }
  75% {
    clip: rect(77px, 9999px, 79px, 0);
  }
  80% {
    clip: rect(58px, 9999px, 79px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 86px, 0);
  }
  90% {
    clip: rect(34px, 9999px, 10px, 0);
  }
  95% {
    clip: rect(30px, 9999px, 38px, 0);
  }
  100% {
    clip: rect(39px, 9999px, 28px, 0);
  }
}
/* line 123, ../sass/_home.scss */
section#section-two .glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(4px, 9999px, 1px, 0);
  }
  5% {
    clip: rect(98px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(9px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(44px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(71px, 9999px, 40px, 0);
  }
  25% {
    clip: rect(30px, 9999px, 32px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 15px, 0);
  }
  35% {
    clip: rect(37px, 9999px, 5px, 0);
  }
  40% {
    clip: rect(33px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(89px, 9999px, 21px, 0);
  }
  50% {
    clip: rect(100px, 9999px, 18px, 0);
  }
  55% {
    clip: rect(42px, 9999px, 61px, 0);
  }
  60% {
    clip: rect(60px, 9999px, 71px, 0);
  }
  65% {
    clip: rect(17px, 9999px, 71px, 0);
  }
  70% {
    clip: rect(47px, 9999px, 87px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 39px, 0);
  }
  80% {
    clip: rect(88px, 9999px, 5px, 0);
  }
  85% {
    clip: rect(67px, 9999px, 90px, 0);
  }
  90% {
    clip: rect(46px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(1px, 9999px, 96px, 0);
  }
  100% {
    clip: rect(9px, 9999px, 34px, 0);
  }
}
/* line 144, ../sass/_home.scss */
section#section-two .glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
/* line 156, ../sass/_home.scss */
section#section-two canvas {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 162, ../sass/_home.scss */
section#section-three {
  position: relative;
  height: 50vh;
}

/* line 4, ../sass/_header.scss */
.container-arrows {
  bottom: 0;
  height: 200px;
  left: 50%;
  position: absolute;
}
/* line 9, ../sass/_header.scss */
.container-arrows .arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}
/* line 18, ../sass/_header.scss */
.container-arrows .arrow-1 {
  animation: arrow-movement 2s ease-in-out infinite;
}
/* line 21, ../sass/_header.scss */
.container-arrows .arrow-2 {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}
/* line 25, ../sass/_header.scss */
.container-arrows .arrow:before,
.container-arrows .arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}
/* line 37, ../sass/_header.scss */
.container-arrows .arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}
/* line 42, ../sass/_header.scss */
.container-arrows .arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 63, ../sass/_header.scss */
section#section-one header {
  padding: 20px 40px;
  z-index: 100;
  position: absolute;
  align-items: center;
  display: flex;
}
/* line 69, ../sass/_header.scss */
section#section-one header img {
  width: 120px;
}
/* line 73, ../sass/_header.scss */
section#section-one header ul li {
  display: inline-block;
  margin: 0 10px;
}
/* line 76, ../sass/_header.scss */
section#section-one header ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
/* line 82, ../sass/_header.scss */
section#section-one header ul li a:hover {
  color: #b2b2b2;
}

/* line 1, ../sass/_footer.scss */
footer {
  color: #FFFFFF;
  /*background: url(https://wallpaperscraft.com/image/dark_spots_texture_background_50355_1920x1080.jpg) no-repeat center;
  background-size: cover;*/
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 10, ../sass/_footer.scss */
footer ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
}
/* line 14, ../sass/_footer.scss */
footer ul li {
  margin: 0 10px;
  display: inline-block;
}
/* line 17, ../sass/_footer.scss */
footer ul li a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
/* line 23, ../sass/_footer.scss */
footer ul li a:hover {
  color: #b2b2b2;
}

/* line 1, ../sass/_car.scss */
section#section-three {
  background: url("../img/bg.jpg");
  /*-webkit-animation: clouds 30s linear infinite;
  animation: clouds 30s linear infinite;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}
/* line 8, ../sass/_car.scss */
section#section-three .container-car {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 13, ../sass/_car.scss */
section#section-three .road {
  height: 70px;
  /*background: url("../img/sand.jpg");
  background-size: 200px auto;
  -webkit-animation: road 2s linear infinite;
  animation: road 2s linear infinite;*/
}
/* line 20, ../sass/_car.scss */
section#section-three .cars {
  position: relative;
}
/* line 23, ../sass/_car.scss */
section#section-three .car {
  margin: 10% auto -25px;
  /*position: relative;*/
  width: 300px;
  -webkit-animation: car 15s infinite;
  animation: car 15s infinite;
  position: absolute;
  bottom: 0;
  left: 10%;
}
/* line 32, ../sass/_car.scss */
section#section-three .car2 {
  width: 350px;
  left: 50%;
}
/* line 37, ../sass/_car.scss */
section#section-three .car img {
  width: 100%;
  animation: suspension 1s infinite;
}
/* line 38, ../sass/_car.scss */
section#section-three .car .wheel {
  background: url("../img/wheel.png") no-repeat center center;
  background-size: 99% auto;
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 5px;
  -webkit-animation: spin 0.2s linear infinite;
  animation: spin 0.2s linear infinite;
}
/* line 49, ../sass/_car.scss */
section#section-three .car .wheel2 {
  background: url("../img/wheel2.png") no-repeat center center;
  background-size: 100%;
  width: 60px;
  height: 60px;
  bottom: 0;
}
/* line 55, ../sass/_car.scss */
section#section-three .car .wheel2.front {
  left: 52px;
}
/* line 58, ../sass/_car.scss */
section#section-three .car .wheel2.back {
  right: 32px;
}
/* line 63, ../sass/_car.scss */
section#section-three .wheel.front {
  left: 20px;
}
/* line 64, ../sass/_car.scss */
section#section-three .wheel.back {
  right: 27px;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes road {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
@keyframes road {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
@-webkit-keyframes car {
  50% {
    -webkit-transform: translateX(10%);
  }
  70% {
    -webkit-transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes car {
  50% {
    transform: translateX(10%);
  }
  70% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes suspension {
  0% {
    -webkit-transform: translateY(1px);
  }
  50% {
    -webkit-transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(1px);
  }
}
@keyframes suspension {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(1px);
  }
}
@-webkit-keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
@keyframes clouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
