@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*$background: linear-gradient(to bottom, #405166 0%,#656f6f 100%);*/
/* line 1, ../sass/_home.scss */
html, body {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/_home.scss */
section#section-one {
  position: relative;
  height: 100vh;
}
/* line 12, ../sass/_home.scss */
section#section-one ul {
  position: absolute;
}
/* line 14, ../sass/_home.scss */
section#section-one ul li {
  display: inline-block;
}
/* line 19, ../sass/_home.scss */
section#section-one .slider .slide {
  height: 100vh;
  width: 100%;
  background-size: cover;
}
/* line 23, ../sass/_home.scss */
section#section-one .slider .slide:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent 40%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
